body,
html{
	width:100%;
	height: 100%;
	font-family:"Georgia";
background:url(land.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
h1
{
	font-size:5rem;
	text-align:center;
	color:#f8f9fa;
	

}
.div{
	text-align:center;
}

.buffer{
	height:3rem;
}
 .btn{
 	font-weight: 3rem;
 	border-radius:300px;
 	font-family:"fantasy";
 	font-size:130%;
 }

 .btn-dark:hover{
 	background-color:#17a2b8;
 	border-color:#17a2b8;
 	border-width:4px;
    cursor:pointer;
 }
 .btn-lg{
 	padding:1rem 2rem;
 }
